.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background-color: #06b6d4;
  /* border: 1px solid #06b6d4; */
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.calculator {
  border-radius: 0;
  /* border: 1px solid #ebedf0; */
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

.calculator-screen {
  width: 100%;
  height: 60px;
  border-left: 2px solid #ebedf0;
  border-right: 2px solid #ebedf0;
  color: #4b5563;
  /* background-color: #fff; */
  /* text-align: right; */
  /* padding-right: 20px; */
  /* padding-left: 10px; */
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator-screen .symbol {
  padding: 0 8px;
}

button {
  height: 60px;
  font-size: 1.5rem !important;
  border-radius: 0;
  /* border: 1px solid #ccc; */
  border: 1px solid #ebedf0;
  background-color: #fff;
  color: #4b5563;
}

.equal-sign {
  height: 100%;
  grid-area: 3 / 5 / 5 / 5;
  background-color: #06b6d4;
  border: 1px solid #06b6d4;
  color: #fff;
}

.equal-sign:hover {
  color: #000;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #ebedf0;
}

.operator {
  /* background-color: #eee; */
  background-color: #f3f4f6;
}

.operator:hover {
  /* background-color: #ccc; */
  /* border: 1px solid #bbb; */
  color: #000;
}

.date {
  width: 100%;
  height: 32px;
  background-color: #f3f4f6;
  border: 2px solid #ebedf0;
  border-top: none;
  color: #646d79;
  text-align: center;
  font-size: 1rem;
}

.text-subtitle {
  font-size: 0.92rem;
  margin-bottom: 0;
  margin-top: -4px;
  opacity: 0.7;
}

.text-title {
  font-size: 1.2rem;
}

.icon svg {
  color: #06b6d4;
}

.icon {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
